#board {
  background: #43a5bd;
  width: 600px; height: 600px;
}
#board .space {
  border: 3px solid #4b585f;
  box-sizing: border-box;
  float: left;
  line-height: 100px;
  text-align: center;
  width: 200px; height: 200px;
}

#board .space.win {
  border: 3px solid #4b585f;
  box-sizing: border-box;
  float: left;
  line-height: 100px;
  text-align: center;
  width: 200px; height: 200px;
}
#board .space:hover {
  cursor: pointer;
  background: #ddd;
}

/* Change background picture based on class name */
#board .space.veggies {
  background: url("img/veggies.jpg");
  background-size: 100% 100%;
}
#board .space.junkfood {
  background: url("img/junkfood.jpg");
  background-size: 100% 100%;
}
